*{
	padding: 0;
	margin: 0;
	border: 0;
}
.barra-principal{
  height: 35px;
  background: #263238;
  color: white;
}
.barra-principal p{
  text-align: center;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}
.contenedor1{
  height: 190px;
}
section img{
  width: 100%;
  height: 579px;
}
figure img{
  width: 180px;
  height: 145px;
  float: left;
  margin-top: 15px;
  margin-left: 200px;
}
ul{
  float: right;
  margin-right: 200px;
  margin-top: 70px;
}
li{
  display: inline-block;
}
li img{
  width: 50px;
  height: 50px;
}
p{
  font-family: 'Raleway', sans-serif;
}
.barra-nav{
  height: 49px;
  background: #F5769F;
  border-radius: 10px;
  margin-left: 190px;
  margin-right: 190px;
  position: relative;
  top: 25px;
	z-index: 1;
  clear: both;
}
nav ul{
  float: left;
  margin-top: 0px;
  margin-left: -25px;
}
nav li{
  font-family: 'Raleway', sans-serif;
  margin-left: 25px;
  color: white;
    padding: 10px;
}
#boton2{
  background: #8E5C51;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#botones3{
  margin-left: 18px;
}
#botones4{
  margin-left: 40px;
}
nav li ul{
    position: absolute;
    display: none;
}
nav li ul a{
    font-family: 'Raleway', sans-serif;
    display: block;
    margin-top: 10px;
    background: #F5769F;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
nav li:hover{
    background: #8E5C51;
    border-radius: 10px;
    padding: 15px;
}
nav li:hover ul{
	display: block;
    margin-top: 10px;
}
nav li a{
	text-decoration: none;
	color: white;
}