*{
	padding: 0;
	margin: 0;
	border: 0;
}
footer{
  height: 35px;
  background: #263238;
  color: white;
}
footer p{
  text-align: center;
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}
header{
  height: 190px;
}
section img{
  width: 100%;
  height: 549px;
}
figure img{
  width: 180px;
  height: 145px;
  float: left;
  margin-top: 15px;
  margin-left: 200px;
}
ul{
  float: right;
  margin-right: 200px;
  margin-top: 70px;
}
li{
  display: inline-block;
}
li img{
  width: 50px;
  height: 50px;
}
p{
  font-family: 'Raleway', sans-serif;
}
nav{
  height: 49px;
  background: #F5769F;
  border-radius: 10px;
  margin-left: 190px;
  margin-right: 190px;
  position: relative;
  top: 25px;
	z-index: 1;
  clear: both;
}
nav ul{
  float: left;
  margin-top: 0px;
  margin-left: -25px;
}
nav li{
  font-family: 'Raleway', sans-serif;
  margin-left: 25px;
  color: white;
}
#boton2{
  background: #8E5C51;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#botones3{
  margin-left: 18px;
}
#botones4{
  margin-left: 40px;
}
